body {
  margin: 0;
  /* padding: 20px 20px; */
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #c55959;
  color: white;
}

h1 {
  font-size: 20px;
  color: white;
}

p {
  color: white;
  margin: 20px 0;
}
video {
  width: 100vw;
  /* 100% and 100vw cause issues? */
  /* height: 100vh; */
  margin: 0px;
  padding: 0px;
  /* transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);  */
  transform: scale(-1, 1);
  position: fixed;
  top: 20px;
}

.stripe-form {
  /* width: calc(100vw - 40px); */
  /* padding-top: 20px; */
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 3;
  background-color: #c55959;
  width: calc(100vw - 40px);
  height: 100vh;
}

.stripe-form .amount {
  margin-bottom: 20px;
}

.stripe-form-submit {
  margin-top: 20px;
}

.StripeElement {
  width: 100%;
}

input[name="amount"] {
  width: 20px;
}

input[name="tip-amount"] {
  width: 20px;
  border-radius: 4px;
  border: 1px solid;
  padding: 4px;
}

.chat-ui {
  /* padding: 10px; */
  width: 100%;
  position: fixed;
  bottom: 20px;
  z-index: 1;
}

.loading-video {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

h2.payment {
  font-size: 16px;
}

.page {
  position: relative;
  height: calc(100vh + 1px);
  width: 100vw;
  overflow: visible;
}

.waiting {
  padding: 34px 20px;
  background-color: #c55959;
  display: grid;
  grid-template-columns: auto auto;
}

svg {
  width: 16px;
  height: 16px;
  margin-top: 0px;
}

.chat {
  display: grid;
  width: calc(100vw - 20px);
  grid-template-columns: 12fr 150px;
  gap: 10px;
  padding: 10px 10px;
  background-color: #c55959;
}

.chat.twoevencols {
  grid-template-columns: 6fr 6fr;
}

.chat > div:first-child {
  /* padding-left: 10px; */
  position: relative;
  border-radius: 6px;
  border: 1px solid #ccc;
  padding-right: 30px;
}

.chat > div:last-child {
  /* text-align: center; */
  /* padding-left: 4px; */
  /* background-color: #f00; */
  position: relative;
  padding-right: 30px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.chat > div:last-child a {
  font-size: 15px;
  /* display: inline; */
}

.chat-ui .toggle {
  margin-left: 6px;
  margin-bottom: 6px;
}

.chat input {
  /* max-width: 300px; */
  overflow: hidden;
  display: grid;
  font-size: 16px;
  /* margin-left: 10px; */
  /* margin-right: 10px; */
  appearance: none;
  -webkit-appearance: none;
  background: none;
  padding: 0px 0px;

  text-indent: 10px;
  border: none;
  color: white;
  letter-spacing: 1px;
  height: 30px;
  overflow: hidden;
  outline: none;
}

.chat a {
  /* width: calc(100% - 20px); */
  display: flex;
  position: absolute;
  top: 4px;
  right: 4px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  height: 20px;
  width: 20px;
  color: #ccc;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #c55959;
  padding: 0px 0px 0px 0px;
  /* margin-right: 4px; */
}

.chat-log {
  height: 150px;
  overflow: auto;
  background-color: #861e1e;
}

.chat-log > div {
  padding: 4px 10px;
  display: grid;
  grid-template-columns: auto 18px 12fr;
  /* background-color: #ccc; */
  /* gap: 10px; */
}

.chat-log > div:last-child {
  padding-bottom: 10px;
}

.chat-log div span {
  display: inline;
  white-space: wrap;
  /* width: fit-content; */
}

.chat-log div span:first-child {
  white-space: nowrap;
  max-width: 130px;
  /* width: fit-content; */
  overflow: hidden;
  color: rgb(140, 140, 177);
  /* text-overflow: ellipsis; */
  /* margin-right: 8px; */
}

.controls {
  text-align: right;
  margin-right: 6px;
}

.flex-center {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
  margin-top: 20px;
  font-size: 30px;
}

.hidden {
  height: 0px !important;
  overflow: hidden;
  position: relative;
  padding: 0px;
  margin: 0;
}

@media only screen and (max-width: 450px) {
  /* .binary {
    font-size: 25px;
    letter-spacing: 3px;
  }

  .new-letter {
    font-size: 25px;
  } */
}

@supports (height: 100dvh) {
  .chat input {
    width: calc(100% - 4px);
  }
  .page {
    height: calc(100dvh);
  }

  /* video {
    height: calc(100dvh);
  } */

  .loading-video {
    height: 100dvh;
  }
}
